.container-de-carta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.container-de-carta.grid-alternativo {
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: space-between;
}


.botao-mudar-grid {
  background-color: pink;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .container-de-carta {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

}


@media (max-width: 600px) {
  .container-de-carta {
    grid-template-columns: 1fr;
    padding: 15px;
    gap: 15px;
  }
}
